body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  max-width: 100%;
  height: auto;
  font-family: 'Bai Jamjuree', sans-serif;
  background-image: url("../img/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 125px;
  max-width: 100%;
  margin: 130px auto;
}

.top__title {
  font-weight: 600;
  color: #47515d;
  font-size: 35px;
  text-align: center;
}

.top__description {
  padding-top: 25px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  color: #a7aaaf;
  line-height: 20px;
}

.top__btn {
  max-width: 550px;
  border: none;
  text-align: center;
  padding: 1px 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.top__btn--ios {
  background-color: #26bba5;
  margin-right: 10px;
  margin-top: 45px;
}

.top__btn--mac {
  background-color: #5f73ff;
  margin-left: 10px;
  margin-bottom: 160px;
}

.top__btn--ios, .top__btn--mac {
  display: inline-block;
  width: 228px;
  height: 57px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.75px;
  border-style: none;
  border-radius: 50px;
  padding: 20px;
}

.top__btn--copy {
  padding-bottom: 145px;
}

.main__title {
  font-weight: 600;
  color: #47515d;
  font-size: 35px;
  text-align: center;
  margin: 0 auto;
}

.main__description {
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  color: #a7aaaf;
  line-height: 20px;
  margin: 0 auto;
  padding-top: 25px;
}

.main__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 160px;
}

.main__desktop--img {
  margin-top: 84px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: block;
  width: 100%;
  height: auto;
}

.main__column {
  display: block;
  padding-left: 113px;
  padding-top: 120px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 100%;
}

.main__title--column {
  color: #47515d;
}

.main__description--column {
  color: #a7aaaf;
  text-align: left;
  padding-bottom: 22px;
}

.main__title--ipad {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #47515d;
}

.main__img--ipad {
  display: block;
  margin: 70px auto;
  width: 100%;
  height: auto;
}

.main__title--tools {
  padding-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 85px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0px auto;
}

.main__description--tools {
  padding-top: 25px;
}

.main__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 85px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0px auto;
}

.main__features--icon {
  display: block;
  text-align: center;
}

.main__companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 160px auto;
}

.main__companies--logo {
  padding: 10px;
  margin: 0 auto;
}

.main__clipboard > p {
  padding-bottom: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  background-color: #f5f6f8;
  padding: 43px 140px;
}

.footer__logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 43px 135px;
}

.footer__item {
  font-size: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__media {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__media--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 23px;
}

.footer__item > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 0 auto;
}

.footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 10px;
}

@media screen and (min-width: 1024px) {
  .main__title--ipad {
    width: 100%;
  }
  .main__img--ipad {
    display: block;
    width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__desktop {
    display: block;
    width: 100%;
  }
  .main__desktop--img {
    margin: 0 auto;
  }
  .main__ipad {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .main__desktop {
    display: block;
    width: 100%;
  }
  .main__desktop--img {
    margin: 0 auto;
  }
  .main__column {
    text-align: center;
    padding-left: 0px;
    padding-top: 120px;
  }
  .main__description--column {
    text-align: center;
  }
  .main__companies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 130px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__companies--logo {
    display: block;
    padding: 20px;
  }
  .top__btn {
    margin: 22px auto;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 100%;
  }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 55px;
    height: auto;
  }
  .footer__logo--img {
    display: block;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    margin: 0 auto;
  }
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .footer__wrap {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .footer__item {
    width: 100%;
    margin: 0 auto;
  }
  .footer__item > ul {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 0;
  }
  .footer__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .footer__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .footer__media > ul {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .footer__media--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */