body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  width: 100%;
  height: auto;
  font-family: 'Bai Jamjuree', sans-serif;
  background-image: url("/img/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 125px;
  padding-top: 130px;
  margin: 0 auto;
}

.top__title {
  font-weight: 600;
  color: #47515d;
  font-size: 35px;
  padding-top: 70px;
  text-align: center;
  margin: 0px auto;
}

.top__description {
  padding-top: 25px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  color: #a7aaaf;
  line-height: 20px;
  margin: 0 auto;
}

.top__btn {
  max-width: 550px;
  border: none;
  text-align: center;
  padding: 1px 6px;
  margin: 0 auto;
}

.top__btn--ios {
  background-color: #26bba5;
  margin-right: 10px;
}

.top__btn--mac {
  background-color: #5f73ff;
  margin-left: 10px;
}

.top__btn--ios, .top__btn--mac {
  display: inline-block;
  width: 228px;
  height: 57px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.75px;
  border-style: none;
  border-radius: 50px;
  padding: 20px;
}

.main__title {
  font-weight: 600;
  color: #47515d;
  font-size: 35px;
  text-align: center;
  margin: 0 auto;
  padding-top: 160px;
}

.main__description {
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  color: #a7aaaf;
  line-height: 20px;
  margin: 0 auto;
  padding-top: 25px;
}

.main__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: red;
  padding-bottom: 160px;
}

.main__desktop--img {
  padding-top: 84px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: block;
  background-color: saddlebrown;
  width: 100%;
  height: 100%;
}

.main__column {
  display: block;
  padding-left: 113px;
  padding-top: 120px;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  background-color: #5f73ff;
  width: 100%;
  height: auto;
}

.main__title--column {
  color: #47515d;
}

.main__description--column {
  color: #a7aaaf;
  text-align: left;
  padding-bottom: 22px;
}

.main__title--ipad {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__img, .main__img--ipad {
  display: block;
  margin: 0 auto;
}

.main__title--tools {
  padding-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 85px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0px auto;
}

.main__description--tools {
  padding-top: 25px;
}

.main__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 85px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0px auto;
}

.main__features--icon {
  display: block;
  text-align: center;
}

.main__companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 170px;
  margin: 0 auto;
}

.main__companies--logo {
  width: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  background-color: red;
}

.main__clipboard > p {
  padding-bottom: 50px;
}

.footer {
  -webkit-box-flex: flex;
      -ms-flex: flex;
          flex: flex;
  height: auto;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f6f8;
  padding: 43px 165px;
}

.footer__wrap {
  width: 90%;
}

.footer__logo {
  float: left;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  font-size: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: right;
}

.footer li {
  list-style: none;
}

@media screen and (max-width: 800px) {
  .top.__btn--ios, .top.__btn--mac {
    margin-left: 0px;
    margin-right: 0px;
  }
  .main {
    /*
    &__companies {
        background-color: red;
        flex-direction: column;
    }
    &__companies--logo {
        display: block;
        width: 50%;
        margin: 0 auto;
        align-content: center;
        text-align: center;
        flex: center;
    }
    */
  }
  .main.__desktop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .main.__desktop--img, .main.__column {
    width: 100%;
    margin: 0 auto;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .main.__column {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10px;
  }
  .main.__img-ipad {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */